*~
conversion.asm
conversion.d
conversion.i
conversion.o
conversion_test.o
conversion_test.elf
debug.asm
debug.d
debug.i
debug.o
debug_test.o
debug_test.elf
main.asm
main.d
main.i
main.o
memory.asm
memory.d
memory.i
memory.o
memory_test.o
memory_test.elf
circbuf.asm
circbuf.d
circbuf.i
circbuf.o
circbuf_test.o
circbuf_test.elf
project2.asm
project2.d
project2.elf
project2.i
project2.map
project2.o
startup_MKL25Z4.o
system_MKL25Z4.o
project2_lib.a
