*~
conversion.asm
conversion.d
conversion.i
conversion.o
debug.asm
debug.d
debug.i
debug.o
main.asm
main.d
main.i
main.o
memory.asm
memory.d
memory.i
memory.o
project1.asm
project1.d
project1.elf
project1.i
project1.map
project1.o
startup_MKL25Z4.o
system_MKL25Z4.o
